@font-face{
    font-family: Roboto;
    src:url(Roboto-Regular.ttf);
}

main{

    width: 70vw;
    min-height: 500px;

    margin: 50px auto;

    font-family: Roboto;

    border: black;
    border-width: 1px;
    border-style: solid;
    
}

#title{
    background-color: #c5c5c5;
    padding: 2%;
    border-bottom: inherit;
}

h1{
    font-size: 1.5em;
}

#history{
    min-height: 350px;
}

.message-box{
    margin: 10px 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

textarea{
    width: 100%;

    border: black;
    border-width: 1px;
    border-style: solid;
    
    display: block;

    resize: none;
}

button{
    padding: 5px 5px;

    border: none;	
	outline: none;

    display: inline-block;
}

.edit{
    background-color: #efa766;
}

.delete{
    background-color: #e86e66;
}

#input-box{
    background-color: #c5c5c5;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    
    border: inherit;  
    border-bottom: none;

    display: flex;
}

#input-box textarea{
    height: 100px;
}

#send{
    background-color: #0278cb;
    color: white;

    height: 30px;

    margin: 0 0 0 5px;
    padding: 5px 10px;
     
    border: none;	
    border-radius: 5px;
	outline: none;
}